<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat+Alternates:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <title>Great Number Game</title>
</head>
<body>
    <section id='welcome' class="section__title section__title--Welcome">
        <h1>The Great Number Leaderboard!</h1>
    </section>
    <div class="leaderboard_play_again">
        <a id="reset" value='Play Again!' href='/play_again'>Play Again!</a>
    </div>
    <section class="section__title section__title--leaderboard">
        <table class="leaderboard_table">
            <thead>
                <tr>
                    <td>Username</td>
                    <td># of Guesses</td>
                    <td>Correct Number</td>
                </tr>
            </thead>
            {% for user in leaderboard: %}
                <tr class="leaders">
                    <td>{{user['username']}}</td>
                    <td>{{user['guesses']}}</td>
                    <td>{{user['num']}}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
    
</body>
</html>